<div id="<%= dom_id address %>">
  <p>
    <strong>Streat:</strong>
    <%= address.streat %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= address.number %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= address.student_id %>
  </p>

</div>
