<div class="w-100 mt-3">
  <section class="d-flex flex-column justify-content-center align-items-center">
    <h1> Bem Vindo! </h1>
    <p>
        Este é um pequeno projeto feito em Rails com a intenção de 
        apresentar um visualizador das tabelas de banco de dados
    </p>
  </section>
  <section class="mt-3 ms-2">
    <h5> Estrutura do banco: </h5>
    <span> Temos so todo 5 tabelas: <span>
    <ul>
      <li> Universidades (College); </li>
      <li> Estudantes (Student); </li>
      <li> Endereços (Address); </li>
      <li> Matérias (Subject); </li>
      <li> Universidades (College). </li>
    </ul>
    <span class="mt-2"> Suas relações são da seguinte maneira: </span>
    <ul>
      <li> (1 x 1) entre Estudantes e Endereços; </li>
      <li> (1 x N) entre Universidades e Estudantes; </li>
      <li> (N x N) entre Estudantes e Matérias. </li>
    </ul>
  </section>
  <section class="mt-3 ms-2">
    <div class="d-flex flex-row">
      <span> Lembrando, você esta logado como: <span>
      <% if current_user.user_type == 'normal'%>
        <span class="text-warning"> Usuário. </span>
        <span> Logo, você só poderá visualizar as informações </span>
      <% end %>
      <% if current_user.user_type == 'admin'%>
        <span class="text-warning"> Administrador. </span>
        <span> Logo, você possui permissão para realizar modifições nas informações. </span>
      <% end %>
    </div>
  <section>
</div>