/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@keyframes fadeInOut {
    from {
        opacity: 0%;
        top: 0px;
    }

    to {
        opacity: 100%;
        top: 10px;
    }
}

.notice__wrapper {
    display: flex;

    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;

    opacity: 100%;

    width: 400px;
    height: 50px;
    border-radius: 5px;

    background-color: #198754;
    animation: fadeInOut .5s linear;
}

.close__button {
    cursor: pointer;

    position: absolute;
    top: 3px;
    right: 8px;
}

a {
    text-decoration: none !important;
    color: white !important;
}

.nav__wrapper a:hover {
    color: #00bc8c !important;
}

.full_height {
    height: 80vh;
}