<div id="<%= dom_id students_subject %>">
  <p>
    <strong>Student:</strong>
    <%= students_subject.student_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= students_subject.subject_id %>
  </p>

</div>
